<?xml version="1.0" encoding="utf-8"?>
<manifest package="mquinn.sign_language"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application>
<!--        android:allowBackup="true"-->
<!--&lt;!&ndash;        android:icon="@mipmap/ic_launcher"&ndash;&gt;-->
<!--&lt;!&ndash;        android:label="@string/app_name"&ndash;&gt;-->
<!--&lt;!&ndash;        android:roundIcon="@mipmap/ic_launcher_round"&ndash;&gt;-->
<!--&lt;!&ndash;        android:supportsRtl="true"&ndash;&gt;-->
<!--&lt;!&ndash;        android:theme="@style/AppTheme">&ndash;&gt;-->
        <activity android:name=".MainActivity"
                  android:exported="true"
                  android:screenOrientation="landscape">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->

<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
        </activity>


    </application>

    <uses-permission android:name="android.permission.CAMERA"/>

</manifest>